@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* global styling */
*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}

nav{
    padding: 12px 0;
    background-color: rgb(207, 230, 250);
}

/*pushes main-header to left side of navbar */
.nav-item:first-child{
    margin-right: auto;
}

.main-header{
    font-family: Lobster;
    color: rgba(146, 140, 140, 0.627);
    background-color: rgba(141, 191, 234, 0.965);
    /*font-size: 55px;*/
    font-size: 2.75em;
    width: 25%;
    text-align: end;
    border-radius: 5px;
}

.nav-list{
    background-color: rgb(207, 230, 250); 
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: baseline;
    margin-right: 15px;
}

.nav-list a{
    color: rgba(251, 241, 226, 0.989);
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    font-family: Merriweather;
}

.nav-list a:hover{
    background-color: rgb(114, 151, 183);
    border-radius: 5px;
}

/* DONE WITH NAVIGATION STYLING */
img{
    max-width: 100%;
}

.image{
    position: relative;
}

.image img{
    height: 100%;
    width: 100%;
}

.image figcaption{
    position: absolute; /* allows text to be placed over the image element */
    font-size: 2.25em; /* 45px */
    right: 45px;
    bottom: 30px;
    padding: 4px;
    border-radius: 5px;
    font-family: Lobster;
    color: rgba(230, 223, 223, 0.752);
    background-color: rgb(162, 199, 232);
}

/* DONE WITH HEADER STYLING*/


.container{
    display: grid;
    grid-template-columns: 25% 60%;
    grid-template-rows: auto;
    gap: 30px;
    background-color: aliceblue;
    padding: 15px;
}

.header-container{
    justify-self: end;
    font-size: 1.25em; /*25px*/
    font-family: Merriweather;
    color: rgb(102, 94, 94);
    font-weight: bolder;
}

.content-container{
    font-family: Merriweather;
    color: rgb(102, 94, 94);
}

.profilepic{
    border-radius: 12px;
    width: 15%;
}

.work-container img{
    border-radius: 12px;
    border: 4px solid rgb(111, 154, 192);
}

/* wepage styling*/
.work-figure{
    position: relative;
}

.work-figure figcaption{
    position: absolute;
    color: white;
    font-size: 0.75em; /*15px*/
    left: 0px;
    bottom: 50px;
    background-color: rgb(111, 154, 192);
    border-radius: 4px;
    border: 4px solid rgb(111, 154, 192);
}

.work-figure img:hover{
    opacity: 1;
}

.contact-container{
    list-style: none;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-container a{
    color: rgb(102, 94, 94);
}

.contact-container a:hover{
    background-color: rgba(145, 188, 226, 0.705);
    border-radius: 5px;
}

@media (max-width: 786px){
    *{
        font-size: 15px;
    }
}

@media (max-width: 600px){
    *{
        font-size: 10px;
    }
}

@media (max-width: 380px){
    *{
        font-size: 7px;
    }
}